@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

@layer {
    .list-item {
        @apply hover:text-Secondary-fc relative pb-2;
    }
}
.homeType{
    @apply rounded-full bg-bg-color text-Secondary-fc border border-Secondary-fc text-center justify-center p-2 items-center mt-9
}

.list-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
}

.list-item a:hover::after,
.list-item a:focus::after,
.list-item a.active::after,
.list-item a.active {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #09fdae;
}
.ResumeBtn{
    @apply duration-300 ease-in-out bg-main-fc text-center bg-opacity-5 rounded-lg py-3 text-main-fc text-sm md:text-base lg:text-lg
}
    
.ResumeBtn:hover{
    background-color: #09fdae;
    color: rgb(28, 28, 36);
}
.ResumeBtn:hover::after,
.ResumeBtn:focus::after,
.ResumeBtn.active::after,
.ResumeBtn.active {
    background-color: #09fdae;
    color: rgb(28, 28, 36);
}

@layer components{
    .inputTag{
        @apply rounded-md focus:ring-1 shadow-lg border-neutral-700 focus:border-none focus:ring-Secondary-fc bg-bg-color lg:w-47 w-full
    }
}